@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>lets see what we can do here.</p>
    <p>If you see this, it means first auto pipeline worked.</p>
    <p>If you see this, we have changed the de register value to 30 seconds.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
